<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KINO V2</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
  </head>
  <%- include ('./Partials/navbar_index.ejs') %>
  <body>
    <a name="top"></a>
    <a href="about">About</a>
    
    

  <!-- Home Page -->
    <div class="home" id="home"></div>
  <!-- Movies Section -->
    <div class="movies" id="movies">
      <h1>Popular Movies</h1>
      
      <div class="movies__wrapper">
        <div class="movies__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="movies__btn"><button>More Info</button></div>
        </div>
        <div class="movies__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="movies__btn"><button>More Info</button></div>
        </div>
        <div class="movies__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="movies__btn"><button>More Info</button></div>
        </div>
        <div class="movies__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="movies__btn"><button>More Info</button></div>
        </div>
        <a href="popularMovies">See All ></a>
      </div>
    </div>

  <!-- TV SHOW Section -->
    <div class="tvshows" id="tvshows">
      <h1>Popular TV Shows</h1>
      
      <div class="tvshows__wrapper">
        <div class="tvshows__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="tvshows__btn"><button>More Info</button></div>
        </div>
        <div class="tvshows__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="tvshows__btn"><button>More Info</button></div>
        </div>
        <div class="tvshows__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="tvshows__btn"><button>More Info</button></div>
        </div>
        <div class="tvshows__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="tvshows__btn"><button>More Info</button></div>
        </div>
        <a href="popularTVShows">See All ></a>
      </div>
    </div>

  <!-- Top 250 Section -->
    <div class="top250" id="top250">
      <h1>Top 250 Movies</h1>
      
      <div class="top250__wrapper">
        <div class="top250__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="top250__btn"><button>More Info</button></div>
        </div>
        <div class="top250__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="top250__btn"><button>More Info</button></div>
        </div>
        <div class="top250__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="top250__btn"><button>More Info</button></div>
        </div>
        <div class="top250__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="top250__btn"><button>More Info</button></div>
        </div>
      </div>
      <a href="top250">See All ></a>
    </div>

    <script type="text/javascript" src='/js/displayFunctions.js'></script>
  
  </body>

</html>
  
  
