<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KINO V2</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
  </head>
  
  <body>
    <a name="top"></a>
    <a href="about">About</a>
    
    <!-- Navbar Section -->
    <nav class="navbar">
      <div class="navbar__container">
        <a href="#top" id="navbar__logo">KINO</a>
        <div class="navbar__toggle" id="mobile-menu">
          <span class="bar"></span> <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
          <li class="navbar__item">
            <form action='searchResult' method="POST"">
              <input id="movieTitle" name="movieTitle" type="text" />
              <input type="submit" value="Search" oninput="searchForMovie()"/>
              <p id="requestText"></p>
              <!-- <textarea name="result" id="" cols="30" rows="10"></textarea> -->
            </form>
          </li>
          <li class="navbar__item"></li>
            <a href="#movies" class="navbar__links" id="movie-page">Movies</a>
          </li>
          <li class="navbar__item">
            <a href="#tvshows" class="navbar__links" id="tvshow-page">TV Shows</a>
          </li>
          <li class="navbar__item">
            <a href="#top250" class="navbar__links" id="top250-page">Top 250</a>
          </li>
          <li class="navbar__btn">
            <a href="#log-in" class="button" id="login">LogIn</a>
          </li>
        </ul>
      </div>
    </nav>

  <!-- Home Page -->
    <div class="home" id="home"></div>
  <!-- Movies Section -->
    <div class="movies" id="movies">
      <h1>Popular Movies</h1>
      
      <div class="movies__wrapper">
        <div class="movies__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="movies__btn"><button>More Info</button></div>
        </div>
        <div class="movies__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="movies__btn"><button>More Info</button></div>
        </div>
        <div class="movies__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="movies__btn"><button>More Info</button></div>
        </div>
        <div class="movies__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="movies__btn"><button>More Info</button></div>
        </div>
        <a href="popularMovies">See All ></a>
      </div>
    </div>

  <!-- TV SHOW Section -->
    <div class="tvshows" id="tvshows">
      <h1>Popular TV Shows</h1>
      
      <div class="tvshows__wrapper">
        <div class="tvshows__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="tvshows__btn"><button>More Info</button></div>
        </div>
        <div class="tvshows__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="tvshows__btn"><button>More Info</button></div>
        </div>
        <div class="tvshows__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="tvshows__btn"><button>More Info</button></div>
        </div>
        <div class="tvshows__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="tvshows__btn"><button>More Info</button></div>
        </div>
        <a href="popularTVShows">See All ></a>
      </div>
    </div>

  <!-- Top 250 Section -->
    <div class="top250" id="top250">
      <h1>Top 250 Movies</h1>
      
      <div class="top250__wrapper">
        <div class="top250__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="top250__btn"><button>More Info</button></div>
        </div>
        <div class="top250__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="top250__btn"><button>More Info</button></div>
        </div>
        <div class="top250__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="top250__btn"><button>More Info</button></div>
        </div>
        <div class="top250__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="top250__btn"><button>More Info</button></div>
        </div>
      </div>
      <a href="top250">See All ></a>
    </div>
    <script type="text/javascript" src='/js/displayFunctions.js'></script>
  </body>

</html>
  
  
