<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KINO V2</title>
    <link rel="stylesheet" href="/css/style.css" />
    
  </head>
  
  <body>
    <a href="about">About</a>
    <a name="top"></a>
    <!-- Navbar Section -->
    <nav class="navbar">
      <div class="navbar__container">
        <a href="index" id="navbar__logo">KINO</a>
        <div class="navbar__toggle" id="mobile-menu">
          <span class="bar"></span> <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
          <li class="navbar__item">
            <form action='searchResult'"">
              <input id="movieTitle" type="text" />
              <input type="submit" value="Search" oninput="searchForMovie()"/>
              <p id="requestText"></p>
            </form>
          </li>
          <li class="navbar__item">
            <a href="#top" class="navbar__links" id="movie-page">Movies</a>
          </li>
          <li class="navbar__item">
            <a href="popularTVShows" class="navbar__links" id="tvshow-page">TV Shows</a>
          </li>
          <li class="navbar__item">
            <a href="top250" class="navbar__links" id="top250-page">Top 250</a>
          </li>
          <li class="navbar__btn">
            <a href="#log-in" class="button" id="login">LogIn</a>
          </li>
        </ul>
      </div>
    </nav>

  <!-- Home Page -->
    <div class="home" id="home"></div>
  <!-- Movies Section -->
    <div class="movies" id="movies">
      <h1>Popular Movies</h1>
      
      <div class="movies__wrapper">
        <div class="movies__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="movies__btn"><button>More Info</button></div>
        </div>
        <div class="movies__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="movies__btn"><button>More Info</button></div>
        </div>
        <div class="movies__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="movies__btn"><button>More Info</button></div>
        </div>
        <div class="movies__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="movies__btn"><button>More Info</button></div>
        </div>
        <a href="popularMovies">See All ></a>
      </div>
    </div>
    <script type="text/javascript" src="/js/displayFunctions.js"></script>
  </body>  
</html>
