<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KINO V2</title>
    <link rel="stylesheet" href="/css/style.css" />
    
  </head>
  
  <body>
    <a href="/views/about.ejs">About</a>
    <a name="home"></a>
    <!-- Navbar Section -->
    <nav class="navbar">
      <div class="navbar__container">
        <a href="#home" id="navbar__logo">KINO</a>
        <div class="navbar__toggle" id="mobile-menu">
          <span class="bar"></span> <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
          <li class="navbar__item">
            <input id="movieTitle" type="text" />
            <input type="submit" value="Search" onclick="searchForMovie()"/>
            <p id="requestText"></p>
            <textarea id="result" cols="200" rows="30"></textarea>
            <script>
              function searchForMovie() {
                var request = new XMLHttpRequest()
                var title = document.getElementById('movieTitle').value;

                //open new connection, using the GET request on the URL endpoint
                request.open('GET', 'http://www.omdbapi.com/?t=' + title + '&apikey=f3011be7&', true)
                document.getElementById('requestText').value= 'http://www.omdbapi.com/?apikey=f3011be7&t=' + title;
                request.onload = function () {
                  // Begin accessing JSON data here
                  var data = JSON.parse(this.response)

                  if (request.status >= 200 && request.status < 400) {
                  document.getElementById('result').innerHTML = this.response;
                  } else {
                    console.log('error')
                  }
                }
                request.send()
              }
            </script>
          <li class="navbar__item">
            <a href="#movies" class="navbar__links" id="movie-page">Movies</a>
          </li>
          <li class="navbar__item">
            <a href="#tvshows" class="navbar__links" id="tvshow-page">TV Shows</a>
          </li>
          <li class="navbar__item">
            <a href="#top250" class="navbar__links" id="top250-page">Top 250</a>
          </li>
          <li class="navbar__btn">
            <a href="#log-in" class="button" id="login">LogIn</a>
          </li>
        </ul>
      </div>
    </nav>

  <!-- Home Page -->
    <div class="home" id="home"></div>
  <!-- Movies Section -->
    <div class="movies" id="movies">
      <h1>Popular Movies</h1>
      
      <div class="movies__wrapper">
        <div class="movies__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="movies__btn"><button>More Info</button></div>
        </div>
        <div class="movies__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="movies__btn"><button>More Info</button></div>
        </div>
        <div class="movies__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="movies__btn"><button>More Info</button></div>
        </div>
        <div class="movies__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="movies__btn"><button>More Info</button></div>
        </div>
        <a href="/views/popularMovies.ejs">See All ></a>
      </div>
    </div>
  </body>  
</html>
