<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KINO Shows</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<%- include ('partials/navbar') %>
  <body>
    <!-- TV SHOW Section -->
    <div class="tvshows" id="tvshows">
        <h1>Popular TV Shows</h1>
        
        <div class="tvshows__wrapper">
          <div class="tvshows__card">
            <h2>Placeholder Text</h2>
            <p></p>
            <div class="tvshows__btn"><button>More Info</button></div>
          </div>
          <div class="tvshows__card">
            <h2>Placeholder Text</h2>
            <p></p>
            <div class="tvshows__btn"><button>More Info</button></div>
          </div>
          <div class="tvshows__card">
            <h2>Placeholder Text</h2>
            <p></p>
            <div class="tvshows__btn"><button>More Info</button></div>
          </div>
          <div class="tvshows__card">
            <h2>Placeholder Text</h2>
            <p></p>
            <div class="tvshows__btn"><button>More Info</button></div>
          </div>
          <div class="tvshows__card">
            <h2>Placeholder Text</h2>
            <p></p>
            <div class="tvshows__btn"><button>More Info</button></div>
          </div>
          <div class="tvshows__card">
            <h2>Placeholder Text</h2>
            <p></p>
            <div class="tvshows__btn"><button>More Info</button></div>
          </div>
          <div class="tvshows__card">
            <h2>Placeholder Text</h2>
            <p></p>
            <div class="tvshows__btn"><button>More Info</button></div>
          </div>
          <div class="tvshows__card">
            <h2>Placeholder Text</h2>
            <p></p>
            <div class="tvshows__btn"><button>More Info</button></div>
          </div>
        </div>
      </div>
    
    
  </body>
  <script type="text/javascript" src="/js/displayFunctions.js"></script>
</html>