<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KINO V2</title>
    <link rel="stylesheet" href="/css/style.css" />
    
  </head>
  <%- include ('./Partials/navbar.ejs') %> 
  <body>
    
  <!-- Home Page -->
    <div class="home" id="home"></div>
  <!-- Movies Section -->
    <div class="movies" id="movies">
      <h1>Popular Movies</h1>
      
      <div class="movies__wrapper">
        <div class="movies__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="movies__btn"><button>More Info</button></div>
        </div>
        <div class="movies__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="movies__btn"><button>More Info</button></div>
        </div>
        <div class="movies__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="movies__btn"><button>More Info</button></div>
        </div>
        <div class="movies__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="movies__btn"><button>More Info</button></div>
        </div>
        <a href="popularMovies">See All ></a>
      </div>
    </div>
    <script type="text/javascript" src="/js/displayFunctions.js"></script>
  </body>  
</html>
