<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KINO V2</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  
  <body>
    <!-- <a href="/views/about.ejs">About</a> -->
    <a name="top"></a>
    <!-- Navbar Section -->
    <nav class="navbar">
      <div class="navbar__container">
        <a href="index" id="navbar__logo">KINO</a>
        <div class="navbar__toggle" id="mobile-menu">
          <span class="bar"></span> <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
          <li class="navbar__item">
            <input id="movieTitle" type="text" />
            <input type="submit" value="Search" onclick="searchForMovie()"/>
            <p id="requestText"></p>
            <!-- <textarea id="result" cols="200" rows="30"></textarea> -->
            </li>
          <li class="navbar__item">
            <a href="#movies" class="navbar__links" id="movie-page">Movies</a>
          </li>
          <li class="navbar__item">
            <a href="#tvshows" class="navbar__links" id="tvshow-page">TV Shows</a>
          </li>
          <li class="navbar__item">
            <a href="#top250" class="navbar__links" id="top250-page">Top 250</a>
          </li>
          <li class="navbar__btn">
            <a href="#log-in" class="button" id="login">LogIn</a>
          </li>
        </ul>
      </div>
    </nav>
    <body>
      <input onload="searchForMovie()"/>
    </body>
        
    <div id="result"><%= result.Title %></div>
    <div id="result"><%= result.Plot %></div>
    <img src="<%- result.Poster %>">
    <script type="text/javascript" src="/js/fisplayFunctions.js"></script>
    
  </body>
    
</html>
