<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KINO Top 250</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<%- include ('partials/navbar') %>
  <body>
    <!-- Top 250 Section -->
    <div class="top250" id="top250">
      <h1>Top 250 Movies</h1>
      
      <div class="top250__wrapper">
        <div class="top250__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="top250__btn"><button>More Info</button></div>
        </div>
        <div class="top250__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="top250__btn"><button>More Info</button></div>
        </div>
        <div class="top250__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="top250__btn"><button>More Info</button></div>
        </div>
        <div class="top250__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="top250__btn"><button>More Info</button></div>
        </div>
        <div class="top250__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="top250__btn"><button>More Info</button></div>
        </div>
        <div class="top250__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="top250__btn"><button>More Info</button></div>
        </div>
        <div class="top250__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="top250__btn"><button>More Info</button></div>
        </div>
        <div class="top250__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="top250__btn"><button>More Info</button></div>
        </div>
        <div class="top250__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="top250__btn"><button>More Info</button></div>
        </div>
        <div class="top250__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="top250__btn"><button>More Info</button></div>
        </div>
        <div class="top250__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="top250__btn"><button>More Info</button></div>
        </div>
        <div class="top250__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="top250__btn"><button>More Info</button></div>
        </div>
        <div class="top250__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="top250__btn"><button>More Info</button></div>
        </div>
        <div class="top250__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="top250__btn"><button>More Info</button></div>
        </div>
        <div class="top250__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="top250__btn"><button>More Info</button></div>
        </div>
        <div class="top250__card">
          <h2>Placeholder Text</h2>
          <p></p>
          <div class="top250__btn"><button>More Info</button></div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="/js/displayFunctions.js"></script>
</html>